.filtercontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  margin: 0 4%;
}

.filterlabel {
  font-weight: bold;
  font: calibri;
  padding: 0 1em 0 0;
}

.btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  margin: 0 1em !important;
  padding: 6px 10px;
  border: 1px solid black;
  cursor: pointer;
}

.selected {
  background-color: #00308f;
  color: white;
  border-radius: 20px;
  margin: 0 1em !important;
  padding: 6px 10px;
  border: 1px solid #00308f;
  cursor: pointer;
}
